
@{
    ViewBag.Title = "StoreClosed";
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}

<div class="empty normal">
    <h2>@("Store is closed for maintenance?")</h2>
    <p>
        @(" We're sorry. The store is temporarily closed for maintenance. Please try again later.")
    </p>
    <p>
        @("Go to") <a href=@Href("~/")>@("Home Page")</a>.
    </p>
</div>


